
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */
  background: #bddafe;
  padding: 0;

  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

.title {
  font-size: clamp(1rem, -0.875rem + 8.333333vw, 6rem);
}

.myShadow {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.15);
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}